.input-group-btn .btn.btn-default{
  min-height: 55px;
}

.reposelect {
  width: 100%;
}

.statistics.line {
  max-width: 550px;
  max-height: 350px;
}

.statistics.pie {
  max-width: 550px;
  max-height: 350px;
}
