/*.pagelogo {
	content: url('/images/hhup-trim-xs.png');
	width: 75px;
	height: 75px;
}

@media screen and (min-width: 768px) {
	.pagelogo {
		content: url('/images/hhup-trim-md.png');
		width: 150px;
		height: 150px;
	}
}*/
