/target/
/.settings/
/.classpath
/.project
node_modules
dist
.tmp
.sass-cache
bower_components
/logs/
/.tern-project
/.springBeans
/repository
/npm-debug.log
/repo/
/archive/
/uploadedImages/
/hs_err_pid*
/src/main/resources/static/
*~