<div class="top-bar row">
  <div class="title col-xs-12">About HHUP</div>
</div>
<div class="panel about row">
  <div class="note col-xs-12 col-lg-5 rotate-left-1">
    <div class="note-header">what is HHUP?</div>
    <div class="note-body">HHUP is short for "Hamburg unsere Perle" (it refers to a <a href="http://www.myvideo.de/watch/4044637/Lotto_King_Karl_Hamburg_meine_perle" target="_blank">song</a>), the title of the Hamburg CouchSurfing Invasion from August 7th till August 9th 2015. This year will be the fourth time this event takes place with an expected number of 200 to 250 participants from all over the world. Join us for a weekend of fun, party, culture, new friends and much more! <a ng-if="!loggedIn" class="btn btn-success" href="/#/signup">sign up now <span class="glyphicon glyphicon-chevron-right"></span></a></div>
  </div>
  <div class="note col-xs-12 col-lg-5 rotate-right-3">
    <div class="note-header">program</div>
    <div class="note-body">During the weekend we have a variety of activities for you. Please make sure you click 'join' on the activities you want to participate in<span ng-if="!loggedIn">, once you are signed up for HHUP</span>. Some of the activities are limited.<a class="btn btn-success" href="/#/activities">check out the program <span class="glyphicon glyphicon-chevron-right"></span></a></div>
  </div>
  <div class="note col-xs-12 col-lg-5 rotate-right-2">
    <div class="note-header">pricing</div>
    <div class="note-body">Like the last years, we gave and give our best to make this weekend as cheap as possible for you and yet make it an awesome experience. Thus we have to ask you for a fee. It's
      <ul>
        <li>
          <b>10€</b> if you pay upfront trough bank transfer,
        </li>
        <li>
          <b>10,72€</b> if you pay through paypal (0,72€ paypal fees) or
        </li>
        <li>
          <b>15€</b> if you pay cash on site because we want to encurage you to pay upfront.
        </li>
      </ul>
      The fee includes:
      <ul>
       <li>a beautiful wristband</li>
       <li>free entrance for our main venue on Saturday</li>
       <li>two drink vouchers, worth 3€ each for the main party on Saturday</li>
       <li>all activities (unless it says otherwise in the activity description)</li>
       <li>stuff we bring along for the different picnics and barbecues (grills, coal, soundsystem, torches ...)</li>
     </ul> Please visit the payment page to make your payment.<span ng-if="!loggedIn"> to view it, please login.</span><a ng-if="loggedIn" class="btn btn-success" href="/#/pay">view payment page <span class="glyphicon glyphicon-chevron-right"></span></a></div>
  </div>
  <div class="note col-xs-12 col-lg-5 rotate-right-1">
    <div class="note-header">who can come?</div>
    <div class="note-body">Anyone! Although we call it a CouchSurfing happening it does not mean, that it is limited to users of the CS platform. Anyone can come and everyone is invited! Please note, that we are not affiliated with Couchsurfing International inc., we just consider ourselves CouchSurfers as in hospitality exchangers in the classical way. <a ng-if="!loggedIn" class="btn btn-success" href="/#/signup">sign up now <span class="glyphicon glyphicon-chevron-right"></span></a></div>
  </div>
  <div class="note col-xs-12 col-lg-5 rotate-left-1">
    <div class="note-header">accomodation</div>
    <div class="note-body">If you're looking for a place to stay during the weekend, the first spot to check out is our built-in couchmarket. Also if you happen to have some space at home, please offer it there. <span ng-if="!loggedIn">You can view it once you are logged in.</span><a ng-if="loggedIn" class="btn btn-success" href="/#/couchmarket">go to couchmarket <span class="glyphicon glyphicon-chevron-right"></span></a></div>
  </div>
  <div class="note col-xs-12 col-lg-5 rotate-right-2">
    <div class="note-header">useful links</div>
    <div class="note-body">
      <ul>
       <li>The <a href="https://www.facebook.com/events/798799526862146/">facebook event</a></li>
       <li><a href="http://couchwiki.org/en/Hamburg">Hamburg on the Couchwiki</a> - here you find plenty of useful information on travelling Hamburg.</li>
       <li>There are a lot of awesome videos about Hamburg on<a href="http://www.back-packer.org/category/hamburg/"> Steve's backpacker website</a>.</li>
       <li><a href="http://www.hvv.de/en/all-you-need-to-know/for-visitors-to-hamburg/">HVV</a> - our local public transport system.</li>
      </ul>
    </div>
  </div>
  <div class="note col-xs-12 col-lg-5 rotate-right-1">
    <div class="note-header">how can I ...</div>
    <div class="note-body">
      <ul>
        <li ng-if="!loggedIn"><b>... sign up for HHUP?</b> - click <a href="/#/recoverPassword">this link</a> or the sign up button in the top bar</li>
        <li><b>... join an activity?</b> - If you want to participate in an activitiy, especially on Saturday afternoon, please join it on the respective page so we can manage the participants. Some of the activities have limited space for participants, so you might not be able to participate if you don't join it. To join an activity, click on an activity on the <a href="/#/activities">activities page</a> and click the green 'join' button.</li>
        <li><b>... recover my password? I forgot it</b> - click <a href="/#/recoverPassword">this link</a> and enter your username or email address</li>
      </ul>
    </div>
  </div>
  <div class="note col-xs-12 col-lg-5 rotate-left-2">
    <div class="note-header">credits</div>
    <div class="note-body">
      <ul>
        <li>The HHUP-Team, that is: Anh, Graham, Tiago, Maryam, David, Florian, Steve, Andreas, Darren, Kasia, Ian, Irfan and Ole.</li>
        <li>Thanks to Raj for the permission to use his awesome pictures from previous invasions! see his <a href="https://www.facebook.com/RSBossPhotography">facebook page</a></li>
        <li>This site has been created by <a href="https://www.facebook.com/OleE87">Ole</a></li>
      </ul>
    </div>
  </div>
</div>
