<div class="top-bar row">
  <div class="title col-xs-10">Program</div>
  <div class="btn-group col-xs-2" uib-dropdown is-open="status.isopen" ng-if="admin">
    <button type="button" class="btn btn-default" uib-dropdown-toggle>
      <span class="caption">admin actions</span>
      <span class="caret"></span>
    </button>
    <ul class="uib-dropdown-menu" role="menu">
      <li role="menuitem"><a ng-href="#/createActivity"><span class="glyphicon glyphicon-plus"></span> create new activity</a></li>
    </ul>
  </div>
</div>
<div class="row positioned">
  <div class="col-xs-12 col-lg-8 activities">
    <div class="row" ng-repeat="(date, activities) in activitiesByDate">
      <div class="activity-date">{{date | date : 'EEEE, dd.MM.'}}</div>
      <div class="col-xs-12" ng-repeat="activity in activities | orderBy : orderDate" ng-class="fullWidth(activities, activity)">
        <div class="activity thumbnail" 
             ng-mouseover="bounce(activity.location.id, true)"
             ng-class="activity.highlight ? 'highlight' : ''"
             ng-mouseleave="bounce(activity.location.id, false)"
             ng-click="showActivity(activity.id)">
          <div class="title invert">{{activity.startDate | date : 'HH:mm'}} - {{activity.title}}</div>
          <div ng-if="!activity.images || activity.images.length === 0">{{activity.description}}</div>
          <div ng-if="activity.images && activity.images.length > 0" class="activity-image" style="background-image: url('/rest/images/{{activity.leadingImage}}')">
          </div>
          <div class="c-more">see more<span class="glyphicon glyphicon-chevron-right"></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4 activities-map-container" scroll-follow>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control" class="activities-map">
      <ui-gmap-marker ng-repeat="location in locations"
        coords="location"
        idKey="location.id"
        control="markerControl[location.id]"
        events="markerEvents"
      ></ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>