<div class="input-group spaced-bottom">
  <div class="input-group-addon left">***</div>
  <input type="password" class="form-control" placeholder="new password" ng-model="newPassword">
</div>
<div class="input-group spaced-bottom">
  <div class="input-group-addon left">***</div>
  <input type="password" class="form-control" placeholder="confirm new password" ng-model="newPasswordConfirm">
</div>
<button type="button" class="btn btn-default" ng-click="send()" ng-disabled="invalid">save new password</button>