<div style="text-align:center;">
  <div class="welcome">Welcome to the Hamburg CouchSurfing Invasion</div>
  <div class="bigdate">July 29th - 31st 2016</div>
  <div class="bigdate">it {{remainingTime}}</div>
<!--   <div class="hhup-logo"></div> -->
  <div><a ng-href="#/users">{{stats.numberParticipants}} people</a> from {{stats.numberCountries}} different countries are signed up already.</div>
  <iframe src="https://www.youtube.com/embed/JyPYb3bQHIw" frameborder="0" allowfullscreen class="teaser note rotate-left-3"></iframe>
  <a class="btn-more btn btn-primary" href="/#/about">find out more <p class="glyphicon glyphicon-chevron-right"></p></a>
  <a class="btn-more btn btn-warning" href="/#/activities">see the program <p class="glyphicon glyphicon-chevron-right"></p></a>
  <a class="btn-more btn btn-success" href="/ProgramHHUP2015.pdf" target="_blank">download the program as PDF <p class="glyphicon glyphicon-chevron-right"></p></a>
</div>