<div class="top-bar row">
  <div class="title col-xs-10">Participants</div>
  <div class="btn-group col-xs-2" uib-dropdown is-open="status.isopen" ng-if="admin">
    <button type="button" class="btn btn-default" uib-dropdown-toggle>
      <span class="caption">admin actions</span>
      <span class="caret"></span>
    </button>
    <ul class="uib-dropdown-menu" role="menu">
      <li role="menuitem" ng-if="admin"><a ng-href="rest/pdf/users"><span class="glyphicon glyphicon-file pdf"></span> export as PDF</a></li>
      <li role="menuitem" ng-if="admin"><a ng-href="rest/spreadsheet/users"><span class="glyphicon glyphicon-file xls"></span> export as Excel spreadsheet</a></li>
    </ul>
  </div>
</div>
<div class="panel users">
  <input type="text" class="form-control" placeholder="search for username or real name" ng-model="search" ng-disabled="disable">
  <table class="table table-striped table-hover table-condensed">
    <tr>
      <th>
        <span>username</span>
        <span class="glyphicon glyphicon-sort-by-alphabet" ng-if="sorting != 'username-asc'" ng-click="sort('username-asc')"></span>
        <span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-if="sorting != 'username-desc'" ng-click="sort('username-desc')"></span>
      </th>
      <th>
        <span>real rame</span>
        <span class="glyphicon glyphicon-sort-by-alphabet" ng-if="sorting != 'realName-asc'" ng-click="sort('realName-asc')"></span>
        <span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-if="sorting != 'realName-desc'" ng-click="sort('realName-desc')"></span>
      </th>
      <th ng-if="isLoggedIn">
        <span>profiles</span>
      </th>
      <th ng-if="admin" class="center">
        <span>paid</span>
        <span class="glyphicon glyphicon-sort-by-attributes" ng-if="sorting != 'paid-asc'" ng-click="sort('paid-asc')"></span>
        <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-if="sorting != 'paid-desc'" ng-click="sort('paid-desc')"></span>
      </th>
      <th ng-if="admin" class="center">
        <span>checked in</span>
        <span class="glyphicon glyphicon-sort-by-attributes" ng-if="sorting != 'checkedIn-asc'" ng-click="sort('checkedIn-asc')"></span>
        <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-if="sorting != 'checkedIn-desc'" ng-click="sort('checkedIn-desc')"></span>
      </th>
    </tr>
    <tr ng-repeat="user in users | filter: filterUsers">
      <td ng-click="profile(user)">
        <span ng-if="isAdmin(user)" class="glyphicon glyphicon-star" uib-tooltip="admin"></span>
        <span ng-if="hasNote(user)" class="glyphicon glyphicon-paperclip" uib-tooltip="note"></span>
        <span>{{user.username}}</span>
        <span nationality="{{user.nationality}}"></span>
      </td>
      <td ng-click="profile(user)">{{user.realName}}</td>
      <td ng-if="isLoggedIn">
        <a ng-if="user.csProfile" ng-href="{{user.csProfile}}"><span class="small-logo cs" uib-tooltip="go to {{user.username}}'s CouchSurfing profile"></span></a>
        <a ng-if="user.hcProfile" ng-href="{{user.hcProfile}}"><span class="small-logo hc" uib-tooltip="go to {{user.username}}'s hospitality club profile"></span></a>
        <a ng-if="user.bwProfile" ng-href="{{user.bwProfile}}"><span class="small-logo bw" uib-tooltip="go to {{user.username}}'s BeWelcome profile"></span></a>
        <a ng-if="user.fbProfile" ng-href="{{user.fbProfile}}"><span class="small-logo fb" uib-tooltip="go to {{user.username}}'s facebook profile"></span></a>
      </td>
      <td ng-if="admin" class="center">
        <span ng-if="user.paid" class="userlist-checkbox glyphicon glyphicon-check" ng-click="unMarkPaid(user)"></span>
        <span ng-if="!user.paid" class="userlist-checkbox glyphicon glyphicon-unchecked" ng-click="markPaid(user)"></span>
      </td>
      <td ng-if="admin" class="center">
        <span ng-if="user.checkedIn" class="userlist-checkbox glyphicon glyphicon-check" ng-click="unCheckin(user)"></span>
        <span ng-if="!user.checkedIn" class="userlist-checkbox glyphicon glyphicon-unchecked" ng-click="checkin(user)"></span>
      </td>
    </tr>
  </table>
</div>
